#section-one { position: absolute; margin-top: 100vh; }
#service-desc {
    width: 220px;
    height: 100px;
    resize: none;
    border: none;
    border-bottom: 2px solid var(--base-bg);
}
#service-desc:focus { outline: none; }
#continue-btn {
    padding: 10px;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    background: var(--base-bg);
    border: 2px solid var(--base-bg);
    border-radius: 10px;
    color: white;
}
#continue-btn:hover { background: none; color: var(--base-bg); }
#delete-service {
    padding: 10px;
    width: 130px;
    height: 50px;
    margin-top: 30px;
    background: #ff4646;
    border: 2px solid #ff4646;
    border-radius: 10px;
    color: white;
}
#delete-service b { margin-top: 4px; margin-right: 5px; }
#delete-service:hover {
    background: none;
    color: #ff4646;
}
.delete-icon {
    width: 20px;
    height: 20px;
    background: white;
    margin-top: 2px;
    mask: url("/static/image/icon/delete-icon.png") center / contain no-repeat;
    -webkit-mask: url("/static/image/icon/delete-icon.png") center / contain no-repeat;
}
#delete-service:hover .delete-icon { background: #ff4646; }
#continue-service {
    padding: 10px;
    margin-right: 20px;
    width: 130px;
    height: 50px;
    margin-top: 30px;
    background: var(--base-bg);
    border: 2px solid var(--base-bg);
    border-radius: 10px;
    color: white;
    justify-content: center;
}
#continue-service:hover {
    background: none;
    color: var(--base-bg);
}
#continue-service b { transform: translateX(10px); margin-top: 3px; }
.continue-icon {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 3px;
    background: white;
    mask: url("/static/image/icon/continue.png.png") center / contain no-repeat;
    -webkit-mask: url("/static/image/icon/continue.png.png") center / contain no-repeat;
}
#continue-service:hover .continue-icon { background: var(--base-bg); }
.create-service,.user-service {
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    width: 40vw;
    max-width: 100%;
    box-sizing: border-box;
    background: white;
    border: 1px solid var(--base-bg);
}
.service-right { text-align: right; margin-right: 10px; }
.service-right p { font-size: 14px; color: #8d8d8d; }
.middle-box {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 25px;
    left: 20px;
}
footer { margin-top: 200vh; }