@font-face {
    font-family: "IranYekanLight";
    src: url("/static/font/iran-yekan-light.woff");
}
* { font-family: "IranYekanLight"; transition: all 300ms ease-in-out; }
:root {
    --base-btn-bg: #0062f6;
}
html,body {
    width: 100%;
    margin: 0;
}
body {
    background-image: url("/static/image/bg/website-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    cursor: default;
}
.flex { display: flex; }
.h-left {
    position: absolute;
    left: 30px;
    top: 15px;
}
.h-right {
    position: absolute;
    right: 30px;
    top: 30px;
}
.h-right a,.h-right button { margin-left: 20px; }
a { text-decoration: none; text-underline-offset: 6px; color: #323232; }
a:hover { text-decoration: underline; }
#h-login-btn,#h-register-btn {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 13px;
    width: 120px;
    color: white;
    font-size: 16px;
}
#h-login-btn { background: var(--base-btn-bg); border: 2px solid var(--base-btn-bg); }
#h-login-btn:hover { background: none; color: var(--base-btn-bg); }
#h-register-btn { color: var(--base-btn-bg); border: 2px solid var(--base-btn-bg); }
button,a { cursor: pointer; }