@font-face {
    font-family: "IranYekanLight";
    src: url("/static/font/iran-yekan-light.woff");
}
* { font-family: "IranYekanLight"; transition: all 300ms ease-in-out; }
:root {
    --base-bg: #0062f6;
}
html,body {
    width: 100%;
    margin: 0;
}
body {
    background-image: url("/static/image/bg/website-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    cursor: default;
}
header {
    background: white;
    width: 100%;
    height: 120px;
}
.flex { display: flex; }
.h-left {
    position: absolute;
    left: 30px;
    top: 15px;
}
.h-right {
    position: absolute;
    right: 30px;
    top: 30px;
}
.h-right a,.h-right button { margin-left: 20px; }
.blue { color: #0062f6; }
.title { font-size: 45px; }
.base-section { width: 100%; height: 100%; }
.section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
a { text-decoration: none; text-underline-offset: 6px; color: #323232; }
a:hover { text-decoration: underline; }
#h-login-btn,#h-register-btn {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 13px;
    width: 120px;
    color: white;
    font-size: 16px;
}
#h-login-btn { background: var(--base-bg); border: 2px solid var(--base-bg); }
#h-login-btn:hover { background: none; color: var(--base-bg); }
#h-register-btn { color: var(--base-bg); border: 2px solid var(--base-bg); background: white; }
#non-decoration:hover { text-decoration: none; }
button,a { cursor: pointer; }
footer { position: absolute; margin-top: 300vh; right: 50%; transform: translateX(50%); }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: #000 !important;
}
input:focus { outline: none; }