{% extends "base/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/page/dashboard.css">
{% endblock %}

{% block body %}
    <section class="base-section">
        <div class="section-content">
            <div class="flex">
                <div class="middle-right" style="text-align: center;">
                    <h2 class="title">سلام <u style="text-underline-offset: 15px;" class="dark-blue">{{ session.userinfo.username }}</u> !</h2>
                    <div>
                        <p>خوشحالیم که اومدی به سایت ما.</p>
                    </div>
                </div>
                <div class="middle-left">

                </div>
            </div>
        </div>
    </section>
    <section class="base-section" id="section-one">
        <div class="section-content">
            {% if session.service_name == '-' %}
                <div class="create-service">
                    <h2 class="small-title">شما هنوز سرویس ندارید.</h2>
                    <form action="/dashboard/create-service" method="post" id="create-service-form">
                        <input type="text" placeholder="نام پروژه" name="service-name"><br>
                        <textarea id="service-desc" placeholder="توضیحات ..." name="service-desc"></textarea><br>
                    </form>
                    <button id="continue-btn">ادامه</button>
                </div>
            {% else %}
                <div class="user-service flex">
                    <div class="service-right">
                        <p>نام سرویس :</p>
                        <h2 style="margin-right: 30px;">{{ session.service_name }}</h2>
                        <p>توضیحات :</p>
                        <pre style="white-space: pre-wrap; width: 220px; margin-right: 30px;">{{ session.service_desc }}</pre>
                    </div>
                    
                    <div class="flex middle-box">
                        <button id="delete-service" class="flex"><span class="delete-icon"></span> <b>حذف سرویس</b></button>
                        <button id="continue-service" class="flex"><span class="continue-icon"></span> <b>مشاهده</b></button>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

    <div style="display: none;">
        <!--
            this part is for js, please don't change this code it can interrupt actions
            you might not find that. thank you for your attension
        -->
        <input type="hidden" value="{{ session.userinfo.password }}" id="password">
    </div>

    <script src="/static/js/dashboard.js"></script>
{% endblock %}